.main-section{
   margin: 0 0 150px 0;
   &__row{
      display: flex;
      gap: 30px;
      align-items: center;
      background-image: url('../../assets/img/bg-main.png');
      background-position:top right;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 80px 0;
   }
   &__content{
      flex: 0 1 70%;
   }
   &__title{

      span{
         display: block;
         margin: 0 0 10px 0;
         font-size: 60px;
      }
   }
   &__subtitle{
      margin: 0 0 50px 0;
   }
   &__img{
      display: block;
      flex: 0 1 40%;
      width: 40%;
   }
}