.picker{
   border: 1px solid $blueL;
   height: 40px;
   width: 100%;
   padding: 10px;
   color: $blueL;
   border-radius: 5px;
   margin: 0 0 3px 0;
   &:focus{
      border-color: $blue;
   }
   padding-right: 25px;
   background-image: url('../assets/img/icons/calendar.svg');
   background-position: 98%;
   background-repeat: no-repeat;
   background-size: 20px;

}
.react-datepicker-wrapper{
   display: block;
   flex: 1 1 auto;
   width: 100%;
}
.react-datepicker__tab-loop{

   position: absolute;
}