.cards{
   
   &__top{
      text-align: center;
     
   }
   &__row{
      display: flex;
      // flex-wrap: wrap;
      gap: 10px;
      margin: 0 0 150px 0;
      @media(max-width:992px){
         overflow-x: scroll;
      }
   }
   &__column {
      display: flex;
      flex-direction: column;
      flex: 0 1 calc(20% - 8px);
      border-radius: 10px;
      padding:20px 25px ;
      @media(max-width:992px){
        min-width: 200px;
      
      }
      &_medical{
         background: linear-gradient(180deg,hsla(210,8%,84%,.12),hsla(210,8%,84%,.636));
      }
      &_green{
         background: linear-gradient(180deg,rgba(112,221,172,.12),rgba(112,221,172,.34));
      }
      &_blue{
         background: linear-gradient(180deg,rgba(23,167,250,.08),rgba(23,167,250,.2));
      }
      &_pink{
         background: linear-gradient(180deg,rgba(155,106,253,.03),rgba(155,106,253,.26));
      }
      &_orange{
         background: linear-gradient(180deg,rgba(243,133,82,.07),rgba(243,133,82,.25));
      }
   }
   &__content{
      flex: 1 1 auto;
   }
   &__img{
     width: 100px;
      height: 100px;      
      margin: 0 0 20px 0;  
      object-fit: contain;
   }
   &__title{
      font-size: 18px;
      color: $blueD;
      margin: 0 0 10px 0;
   }
   &__text{
      font-size: 14px;
      margin: 0 0 20px 0;
      line-height: 20px;
   }
}