.banner{
   margin: 0 0 50px 0;
   &__body{
      margin-top: 100px;
      padding:  30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 10px;
   }
   &__img{
      margin: -100px 0 30px 0;
   }
}